html
  head
    title Cover Finder Api Middleware
    meta(charset="utf-8")
    link(rel="stylesheet", href="stylesheets/custom.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bevan")
  body
    #description
      | CoverFinder API Middleware
      br
      span
        | Specific Usage for&nbsp;
        a(href="http://masoudmirzaei.ir/coverfinder") CoverFinder
